<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MobaHelp</title>
    <meta name="description" content="MobaHelp is here to help you get started with Process Modelling and using Mobatec Modeller software to create dynamic process models">
    <meta name="theme-color" content="#142a40">
    <meta name="msapplication-navbutton-color" content="#142a40">
    <meta name="apple-mobile-web-app-status-bar-style" content="#142a40">
    <link href="/css/style.css?ver=<%=mainFileVersion%>" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <meta property="og:title" content="MobaHelp" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://help.mobatec.cloud" />
    <meta property="og:site_name" content="MobaHelp" />
    <meta property="og:description" content="MobaHelp is here to help you get started with Process Modelling and using Mobatec Modeller software to create dynamic process models" />
    <meta property="og:image" content="https://help.mobatec.cloud/images/OG-Image.png" />


    <script src="/js/jquery.js?ver=<%=mainFileVersion%>"></script>
    <script src="/js/scroll.js?ver=<%=mainFileVersion%>"></script>
    <script src="/js/navigation.js?ver=<%=mainFileVersion%>" defer></script>
  </head>
  <body onscroll="scrolled()">
    <div id="site-content">