<%- include ("partials/header") -%>
	<div id="header">
      <div id="top-title">
        <h1 class="page-title">Mobatec Modeller Help</h1>
      </div>
    </div>
    <div id="navigation">
      <div id="top-logo">
        <img src="icons/MM-Logo-White.svg" width="50">
      </div>

      <div class="title">
        General
      </div>
      <div class="item" data-name="introduction">
        <div class="text">Introduction</div>
      </div>
      <div class="item" data-name="about-the-software">
        <div class="text">About the Software</div>
      </div>
      <div class="item" data-name="software-installation">
        <div class="text">Software Installation</div>
      </div>
      <div class="item" data-name="software-windows">
        <div class="text">Software Windows</div>
      </div>
      <div class="item" data-name="software-environments">
        <div class="text">Software Environments</div>
        <div class="submenus">
          <div class="text">Modelling Environment</div>
          <div class="text">Simulation Environment</div>
          <div class="text">Run-Time Environment</div>
        </div>
      </div>
      <div class="title">
        Modelling
      </div>
      <div class="title">
        Simulation
      </div>
    </div>
    <div id="right-box">
      <div class="content">
        <div style="text-align:center;padding-top:20px;">Space for extra content</div>
      </div>
    </div>
    <div id="content">
      <div class="section" data-name="introduction">
        <div class="title">Introduction</div>
        <div class="text">
          <p>Welcome to the Mobatec Modeller help file. This file is designed to help any user (from beginners to modelling experts) and it contains information and examples on all features of the software.</p>
          <p>If you can't find information you are looking for or need assistance please feel free to e-mail us on <a href="mailto:help@mobatec.nl">help@mobatec.nl</a></p>
        </div>
      </div><!--Section END-->
      <div class="section" data-name="about-the-software">
        <div class="title">About the software</div>
        <div class="text">
          <p>Mobatec Modeller is a process modelling and simulation software that is designed to make dynamic or steady state process models.</p>
          <p style="margin-bottom:0px;">It is a 32-bit program with the following system requirements:</p>
          <ul>
            <li><b>Operating system:</b> Windows 7 or higher</li>
            <li><b>Processor:</b> 1 gigahertz (GHz) or faster</li>
            <li><b>RAM:</b> 2GB or more</li>
            <li><b>Hard Disk Space:</b> 500MB</li>
            <li><b>Graphics Card:</b> DirectX 9 or later</li>
          </ul>
          <p>Mobatec Modeller is also cloud ready, so it can run inside any web browser without needing to install anything on your machine. If you are interested in this feature please contact us on <a href="mailto:cloud@mobatec.nl">cloud@mobatec.nl</a></p>
          <p>Simple models don't take a lot of computational power but if your models are big (have a lot of equations) we recommend that you have higher processing power and more processor cores on your machine so your models solve faster.</p>
        </div>
      </div><!--Section END-->
      <div class="section" data-name="software-installation">
        <div class="title">Software Installation</div>
        <p>Have a look at the video bellow to see how to install Mobatec Modeller on Windows operating systems.</p>
        <div class="videoWrap">
          <video class="imageBorder" width="850" controls>
            <source src="/videos/Mobatec-Modeller-Installation.mp4" type="video/mp4">
            Your browser does not support the video tag. Please try another web browser.
          </video>
        </div>
      </div><!--Section END-->
      <div class="section" data-name="software-windows">
        <div class="title">Software Windows</div>
        <div class="text">
          <p>Mobatec Modeller has multiple types of windows which help users work more efficiently. The main software window has a working surface, file menu and a toolbar.</p>
          <div class="singleImageWrap">
            <img class="imageBorder" src="/images/Mobatec-Modeller-Main-Window.png">
          </div>
          <p>In the working surface you can open multiple models such that you can view for example two models and compare or copy/paste elements (equations, partial models, interface elements like buttons etc). from one model to another.</p>
          <div class="singleImageWrap">
            <img class="imageBorder" src="/images/Mobatec-Modeller-Multiple-Models.png">
          </div>
          <p>The windows in the working surface cannot be dragged outside it. To make a window inside the working surface go outside the working surface you can use the <code>"Decouple Child Window From Window"</code> option from the <code>"Window"</code> file menu. This will make a new independent window of the child window you have selected.</p>
          <div class="singleImageWrap">
            <img class="imageBorder" src="/images/Mobatec-Modeller-Window-Decoupling.png">
          </div>
          <div class="singleImageWrap">
            <img class="imageBorder" src="/images/Decoupled-Window.png">
          </div>
          <!--<p>Once a window is decoupled from the working surface (Main window) it can coupled back to the working surface by using the same option which becomes <code>"Couple Child Window to Main Window"</p>-->
        </div>
      </div><!--Section END-->
      <div class="section" data-name="software-environments">
        <div class="title">Software environments</div>
        <div class="text">
          <p style="margin-bottom:0px;">The software consists of 3 main environments:</p>
          <ul>
            <li>Modelling environment (<img style="display:inline;width:20px;vertical-align: middle;" src="/icons/mod.png">)</li>
            <li>Simulation environment (<img style="display:inline;width:20px;vertical-align: middle;" src="/icons/sim.png">)</li>
            <li>Run-Time environment (<img style="display:inline;width:20px;vertical-align: middle;" src="/icons/rt.png">)</li>
          </ul>
          <p>Depending on what the user needs to do he switches these environments through the buttons on the toolbar while making his process model.</p>
          <div class="subsection">
            <div class="title">Modelling environment</div>
            <div class="text">
              <p>This environment is used for constructing or adapting process models, saving your process models, initialization and making an interface for the simulation (making value objects and buttons for changing parameters while the simulation is running, making visuals for variable values etc).</p>
              <p>The default setting of Mobatec Modeller is that it opens in this environment. If the <img style="display:inline;width:20px;vertical-align: middle;" src="/icons/mod.png"> is missing from the tooolbar this means you are in the modelling environment.</p>
            </div>
          </div>
          <div class="subsection">
            <div class="title">Simulation environment</div>
            <div class="text">
              <p>This environment is used for solving process models and for viewing or exporting results. If the <img style="display:inline;width:20px;vertical-align: middle;" src="/icons/sim.png"> button is missing from the toolbar this means you are in the simulation environment.</p>
              <p>To view the results of a process model it isn't enough just to switch to the simulation environment. The process model needs to be compiled so it can be solved. Process models are compiled from the modelling environment by pressing the compile button (<img style="display:inline;width:20px;vertical-align: middle;" src="/icons/comp.png">) in the toolbar.</p>
            </div>
          </div>
          <div class="subsection">
            <div class="title">Run-Time environment</div>
            <div class="text">
              <p>This environment is very similar to the simulation environment. It is also used to solve process models and view results, but it can limit the user interaction with your process model.</p>
              <p>Because it can limit the user interaction it is mainly used for the user who is going to use your process model (prevent the user from looking at the equations of your process model, change solver parameters etc).</p>
            </div>
          </div>
        </div>
      </div><!--Section END-->
    </div>
<%- include ("partials/footer") -%>