<%- include ("partials/header") -%>
<div id="main-menu">
	<div class="relative">
		<div class="blueBackground"></div>
		<div class="gradientBackground"></div>
		<div class="item" onclick="menuHandle(this,1)">
			<div>Software Help</div>
		</div>
		<div class="item itemActive" onclick="menuHandle(this,2)">
			<div>Modelling Help</div>
			<div class="arrow"></div>
		</div>
	</div>
	
</div>
<div id="help" style="display: none;">
	<%- include ("partials/help") -%>
</div>
<div id="introcourse" class="introcourse">
	<%- include ("partials/introcourse") -%>
</div>
<script>
	function menuHandle(elem,num){
		if(num==1){
			document.getElementById("help").style.display="block";
			document.getElementById("introcourse").style.display="none";
		}else if(num==2){
			document.getElementById("help").style.display="none";
			document.getElementById("introcourse").style.display="block";
		}
		var menuItems	=	elem.parentElement.getElementsByClassName(elem.classList[0]);
		for(var i=0;i<menuItems.length;i++){
			menuItems[i].classList.remove(itemActive);
		}

		elem.classList.add("itemActive");
	}
</script>
<%- include ("partials/footer") -%>