<%- include ("partials/header") -%>
<div id="main-menu">
	<div class="relative">
		<div class="blueBackground"></div>
		<div class="gradientBackground"></div>
		<div class="item">
			Software Help
		</div>
		<div class="item">
			Modelling Help
		</div>
	</div>
	
</div>
<div id="help">
	<%- include ("partials/help") -%>
</div>
<div id="introcourse" style="display:none">
	<%- include ("partials/introcourse") -%>
</div>

<%- include ("partials/footer") -%>